.alert {
    margin-bottom: 0px;
    padding: .50rem 1.0rem;
  }
  
  .w {
    width: 16%;
    text-align: center;
  }
  
  .w2 {
    width: 10%;
    text-align: center;
  }
  
  .nav-item {
    cursor: pointer;
  }
  
  form {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .m {
    margin-top: 20px;
    margin-right: 10px;
  }